<div class="card mt-3">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h3>MAS INFORMACION SOBRE LOS VUELOS</h3>

    </div>
  </div>
  <div class="card-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet blanditiis repudiandae! Dignissimos assumenda veritatis neque vero minus nostrum animi saepe dolor quae mollitia totam voluptate amet debitis, laudantium sunt!
      Praesentium, mollitia accusamus debitis similique, distinctio id, laborum aliquid delectus consequuntur in odio et amet modi quae magni molestiae blanditiis animi provident hic magnam qui aut architecto. Aperiam, soluta repudiandae.
      Qui nobis fuga labore, ipsam reiciendis fugit commodi obcaecati nostrum! A amet eius laborum quod voluptas consequatur. Illo, beatae error! Consequatur maxime dolores placeat autem ad est nam, odio natus.
      Illum accusantium praesentium ab sit quod expedita enim doloribus. Provident veniam facere est expedita, sed numquam consequatur earum. Incidunt accusamus repellendus eaque animi nostrum ipsum libero deleniti nobis repellat cupiditate!
      Nostrum animi quam nam? Labore accusamus ullam saepe corporis consectetur eligendi voluptatibus magnam voluptate dolorum non officiis repudiandae fuga, laudantium possimus, qui earum rerum a sunt id, quibusdam quasi corrupti?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet blanditiis repudiandae! Dignissimos assumenda veritatis neque vero minus nostrum animi saepe dolor quae mollitia totam voluptate amet debitis, laudantium sunt!
      Praesentium, mollitia accusamus debitis similique, distinctio id, laborum aliquid delectus consequuntur in odio et amet modi quae magni molestiae blanditiis animi provident hic magnam qui aut architecto. Aperiam, soluta repudiandae.
      Qui nobis fuga labore, ipsam reiciendis fugit commodi obcaecati nostrum! A amet eius laborum quod voluptas consequatur. Illo, beatae error! Consequatur maxime dolores placeat autem ad est nam, odio natus.
      Illum accusantium praesentium ab sit quod expedita enim doloribus. Provident veniam facere est expedita, sed numquam consequatur earum. Incidunt accusamus repellendus eaque animi nostrum ipsum libero deleniti nobis repellat cupiditate!
      Nostrum animi quam nam? Labore accusamus ullam saepe corporis consectetur eligendi voluptatibus magnam voluptate dolorum non officiis repudiandae fuga, laudantium possimus, qui earum rerum a sunt id, quibusdam quasi corrupti?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet blanditiis repudiandae! Dignissimos assumenda veritatis neque vero minus nostrum animi saepe dolor quae mollitia totam voluptate amet debitis, laudantium sunt!
      Praesentium, mollitia accusamus debitis similique, distinctio id, laborum aliquid delectus consequuntur in odio et amet modi quae magni molestiae blanditiis animi provident hic magnam qui aut architecto. Aperiam, soluta repudiandae.
      Qui nobis fuga labore, ipsam reiciendis fugit commodi obcaecati nostrum! A amet eius laborum quod voluptas consequatur. Illo, beatae error! Consequatur maxime dolores placeat autem ad est nam, odio natus.
      Illum accusantium praesentium ab sit quod expedita enim doloribus. Provident veniam facere est expedita, sed numquam consequatur earum. Incidunt accusamus repellendus eaque animi nostrum ipsum libero deleniti nobis repellat cupiditate!
      Nostrum animi quam nam? Labore accusamus ullam saepe corporis consectetur eligendi voluptatibus magnam voluptate dolorum non officiis repudiandae fuga, laudantium possimus, qui earum rerum a sunt id, quibusdam quasi corrupti?
    </p>
  </div>
</div>

