
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Pais</th>
      <th>Ciudad</th>
      <th>Tiempo de vuelo</th>
      <th>Valor</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let vuelo of vuelos " >
    <tr>
      <td>
        {{vuelo.pais}}
      </td>
      <td>
        {{vuelo.ciudad}}
      </td>
      <td>
        {{vuelo.tiempo}}
      </td>
      <td>
        {{vuelo.valor}}
      </td>
      <td class="text-right">
       <a [routerLink]="['/vuelos/detalle',vuelo.id]">Ver detalle</a>
      </td>
    </tr>
  </tbody>
</table>
