


<form (ngSubmit)="GuardarDestino()" class="form-horizontal form-material" [formGroup]="registerForm" autocomplete="off" >
	<div class="form-group">
		<app-autocomplete (destinoSelected)="setDestino($event)" [controlName]="'nombre'" #autocompleteComponent></app-autocomplete>
	</div>
	<div class="form-group">
		<label for="Imagen	Url">Imagen	Url</label>
		<input type="text" class="form-control" formControlName="imagen" id="imagenUrl" placeholder="Ingresar	url...">
	</div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary btn-block" *ngIf="registerForm.valid">Guardar!</button>
      <button type="button" class="btn btn-warning btn-block" (click)="ResetVote()">Reset</button>
    </div>
  </div>


	<hr>
	<div class="form-group">
		<div class="col text-danger">
			<small *ngIf="campoNoValido( 'nombre' )">* Campo <b> Nombre</b> es obligatorio.</small><br>
			<small *ngIf="registerForm.controls['nombre'].hasError('minLength')">* Campo <b> Nombre</b> debe tener minimo {{minLengtParam}} caracteres.</small><br>
			<small *ngIf="campoNoValido( 'imagen' )">* Campo <b>Imagen URL</b> es obligatorio.</small>
		</div>
	</div>
</form>

<!--
<hr>
<pre>
    Estado del Formulario: {{registerForm.valid}}
    <hr>
    Status: {{registerForm.status}}
</pre>
<hr>
<pre>
    {{registerForm.value | json}}
</pre> -->
