
<div class="card mt-3">
  <div class="card-header">
    <h3> LISTA DE DESTNOS MAS SOLICITADOS</h3>
  </div>
  <div class="card-body">

    <table class="table ">
        <thead>
          <tr>
            <th>
              Destino
            </th>
            <th>
              Calificación
            </th>
            <th>
              Precio
            </th>
            <th>
              Favorito
            </th>
          </tr>

        </thead>
        <tbody *ngFor="let d of destinos">
          <tr>
            <td>
              {{d.nombre}}
            </td>
           <td>
            {{d.votos}}
           </td>
           <td>
            {{d.precio}} Dolares
           </td>
           <td>
            {{d.selected}}
           </td>
          </tr>

        </tbody>
    </table>
  </div>
</div>

