

<input type="text"
class="form-control"
id="nombre"
[formControlName]="controlName"
placeholder="Ingrese el nombre del destino">
<ul class="list-group">
	<li class="list-group-item list-group-item-primary w-50" *ngFor="let item of searchResults;">{{item.pais}} -  {{ item.ciudad }} </li>
</ul>



<!-- <mat-form-field class="example-full-width">

	<input type="text"
		   placeholder="Destino"
		   aria-label="Number"
		   matInput
		   [formControl]="myControl"
		   [formControlName]="controlName"
		   [matAutocomplete]="auto">
	<mat-autocomplete #auto="matAutocomplete">
	  <mat-option
	  (onSelectionChange)="callSomeFunction($event,option)"
	  *ngFor="let option of filteredOptions | async" [value]="option">
		{{option}}
	  </mat-option>
	</mat-autocomplete>
  </mat-form-field> -->
