

<div class="card mt-2">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h2>{{vuelo.pais}} - {{vuelo.ciudad}}</h2>
      <a [routerLink]="'/vuelos'">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>
        Regresar
      </a>
    </div>

    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="">
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <strong> Tiempo aproximado de vuelo:</strong>  {{vuelo.tiempo}}
      </li>
      <li class="list-group-item">
       <strong> Valor del tiquete:</strong>  {{vuelo.valor}}
      </li>
      <!-- <li class="list-group-item">
        <strong>Url Sitio:</strong> {{ appConfig.url}}  <small class="text-danger">(Injection Token)</small>
      </li> -->
    </ul>

  </div>
</div>





