<div class="card-content mb-5 mt-3">
    <div class="card-img">
        <!-- <img src="https://placeimg.com/380/230/nature" alt=""> -->
        <app-map></app-map>
        <span><h4>ID: {{destino.id}}</h4></span>
    </div>
    <div class="p-2 text-right">
        <a [routerLink]="'/home/destinos'">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
      </svg> Regresar
        </a>
    </div>
    <div class="card-desc">
        <div class="d-flex justify-content-between">
            <h3>{{destino.nombre}}</h3>
            <span *ngIf="destino.selected" class="text-danger">
				<span ngNonBindable>{{ <b>** Favorito **</b> }}</span>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart-fill text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
				</svg>
            </span>
        </div>
        <h4 class="text-muted">
            Principales Servicios
        </h4>
        <ul>
            <li *ngFor="let servicio of destino.servicios">
                <span [ngSwitch]="servicio.nombre">
					<i *ngSwitchCase="'Piscina'" style="color:blue">{{servicio.nombre}}</i>
					<i *ngSwitchCase="'Bar'" style="color:green">{{servicio.nombre}}</i>
					<i *ngSwitchCase="'Restaurante'" style="color:red">{{servicio.nombre}}</i>
					<span *ngSwitchDefault class="font-weight-bold">{{servicio.nombre}}</span>
                </span>
            </li>
        </ul>
        <div class="row">
            <div class="col">
                <div class="card text-white bg-info ">
                    <div class="card-body">
                        <div class="d-flex justify-content-between ">
                            <strong>Puntuación por parte de los clientes: </strong>
                            <strong>{{destino.votos}}</strong>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
