
 <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  [routerLink]="['/home/destinos']">Turismo OnLine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home/destinos']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/home/visitados']">Destino mas Solicitados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/vuelos']">Vuelos</a>
        </li>
        <li class="nav-item">
         <button class="btn btn-link" (click)="salir()">Cerrar Session</button>
        </li>
      </ul>
    </div>

    <div>
      <select class="form-control" (change)="selectedValue($event.target.value)">
        <option value="es">Español</option>
        <option value="en">English</option>
        <option value="fr">Frances</option>
      </select>
    </div>
  </nav>

</header>

<div class="container content">
  <div class="d-flex">
    <h2>
      Agencia de Viajes
     <!-- <b  [innerHTML] = "'home.spanishLabel' | translate"> </b> -->
     <!-- <div [innerHTML]="'Hola' | translate"></div> -->
     <span>Sueño de Viajar</span>
    </h2>

  </div>

  <router-outlet></router-outlet>

</div>

