
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  [routerLink]="['/home/destinos']">Turismo OnLine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home/destinos']">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['./main']">Vuelos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['./info']">Mas Información</a>
        </li>

        <li class="nav-item">
         <button class="btn btn-link" (click)="salir()">Cerrar Session</button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container content">

  <router-outlet></router-outlet>

</div>
