
  <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../../../assets/images/background/5.jpg);">
    <div class="login-box card">
      <div class="card-header">
        <h3>Turismo OnLine</h3>
      </div>
        <div class="card-body">


            <form
            class="form-horizontal form-material"
            id="loginform"
            autocomplete="off"
            [formGroup]="loginForm"
            (ngSubmit)="login()">

                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="email" type="email" placeholder="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox" formControlName="remember" class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup">&nbsp; Remember me </label>
                        </div>
                 </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Log In</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center mb-3" style="display:flex; justify-content: center;">
                        <div id="my-signin2"></div>
                    </div>
                </div>

            </form>
        </div>
    </div>
  </section>
