
<div class="container	content mt-3">
    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <app-formsdestinoviaje
                        (agregarDestino)="AddDestino($event)"
                        (resetearVotos) = "ResetVote($event)"
                        ></app-formsdestinoviaje>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" *ngIf="log.length > 0">
                <div class="card-header">
                    <h3 > Log de Eventos</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" style="height: 195px; overflow-y: scroll;">
                        <li class="list-group-item" *ngFor="let item of log" >
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                            El usuario selecciono el destino: <b> {{item.nombre}} </b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
		<app-destino-viaje
            *ngFor="let destino of destinos; let i = index;"
            [destino] = "destino"
            [idx] = "i+1"
            (destinoSelected)="DestinoSeleccionado($event)"
            (eliminarSelected) = "EliminarDestino($event)"
            (votarSelected) = "VotarDestino($event)"
            appEspia
            >
		</app-destino-viaje>
    </div>
</div>
